<h1>Pages#home</h1>
<%= link_to 'Show Users', pages_users_path %>
<% if current_user %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Posts', posts_path %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>